<header class="py-2 bg-white dark:bg-gray-900 border-b">
   <div class="flex flex-row items-center justify-between mx-auto desktop:w-4/6">
      <div>
         <img class="inline-block align-top" src="../../assets/images/devLogo.png" alt="dev" width="50" height="40" />
         <input
            class="align-bottom border rounded px-3 py-1.5 outline-violet-600 ml-5 desktop:w-96"
            type="text"
            placeholder="Search..."
         />
      </div>
      <div class="flex flex-row">
         <button class="p-2 text-black dark:text-blue-50" (click)="toggleMode()">
            {{ this.currentColorTheme === 'dark' ? 'light' : 'dark' }}
         </button>
         <a href="" class="pt-2.5 pb-3 px-4 mr-5 rounded hover:bg-purple-100 hover:text-purple-800">Log in</a>
         <a
            class="px-3 pt-2 pb-2.5 border-blue-700 rounded border font-semibold text-blue-700 hover:bg-blue-700 hover:text-white hover:underline hover:duration-300"
            href=""
            >Create account
         </a>
      </div>
   </div>
</header>
